// color
$color-placholder: #999999;
$color-brand: #e4007f;
$color-header-notActive: #00408B;
$color-product-notActive: #868488;
$color-casher-body-bg: #292929;
$color-product-desc: #413a3a;
$color-casher-primary: #fd6d52;
$color-casher-placholder: #d5624b;
$color-casher-bg: #fff7fd;
$color-casher-border: #cebebe;
$color-casher-active: #fee6e6;

// font
$font-title: normal 300 3rem 'Roboto', sans-serif;
$font-logo: normal bold 1.5rem 'Noto Sans TC', sans-serif;
$font-subtitle: normal 300 1.5rem 'Noto Sans TC', sans-serif;
$font-form: normal 400 1.5rem 'Noto Sans TC', sans-serif;
$font-product-title: normal 400 1.2rem 'Noto Sans TC', sans-serif;
$font-lable: normal 400 0.8rem 'Noto Sans TC', sans-serif;

// form
$form_height: 52px;

// nvabar 
$navbar-height: 60px;

// sidebar
$sidebar-width: 300px;

// body
$body-header: 70px;

// order-setting
$orderSetting-header: 50px;
$orderSetting-footer: 70px;

// casher
$casher-header: 70px;
$casher-footer: 70px;