// color
$color-placholder: #999999;

// font
$font-title: normal 300 48px 'Roboto', sans-serif;
$font-subtitle: normal 300 24px 'Roboto', sans-serif;
$font-subtitle2: normal 300 16px 'Roboto', sans-serif;
$font-form: normal 400 20px 'Roboto', sans-serif;
$font-lable: normal 400 14px 'Roboto', sans-serif;

// form
$form_height: 52px;