@import 'node_modules/bootstrap/scss/_functions';
@import 'bootstrap_variables_customer';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
@import 'fonts';
@import 'love_meeting_ice';
@import 'components/Form';
@import 'components/Casher';
@import 'components/Product';
@import 'components/ProductMenu';
@import 'components/NavbarHeader';
@import 'pages/Login';
@import 'pages/Home';

body {
  min-width: 736px;
}

h1, h2, h3, h4, * {
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  // outline: 1px solid red;
}

address, dl, ol, p, pre, ul {
  margin-bottom: 0;
}

.totoal_layout {
  height: 100vh;
}

