@import 'node_modules/bootstrap/scss/_functions';
@import 'bootstrap_variables_customer';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
@import 'utilities';
@import 'fonts';
@import 'love_meeting_ice';
@import 'components/Form';
@import 'components/Casher/Casher';
@import 'components/Casher/CasherHeader';
@import 'components/Casher/Bill/BillList';
@import 'components/Casher/Bill/BillDetail';
@import 'components/Casher/Order/OrderList';
@import 'components/Casher/Order/OrderSetting';
@import 'components/Product/Product';
@import 'components/Product/ProductMenu';
@import 'components/NavbarHeader';
@import 'components/NumberInputer';
@import 'pages/Login';

body {
  min-width: 960px;
}

h1, h2, h3, h4, * {
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  // outline: 1px solid red;
}

address, dl, ol, p, pre, ul {
  margin-bottom: 0;
}

.totoal_layout {
  height: 100vh;
}

.modal-backdrop {
	opacity: 1;
}