.casher {
  height: 100%;
  width: $sidebar-width;
  > header {
    height: 70px;
    width: 100%;
    background: $color-casher-primary;
    ol {
      height: 100%;
      display: flex;
      padding: 5px;
    }

    a {
      @include a_unstyle();
      font: $font-subtitle;
      color: $color-casher-placholder;
    }

    li {
      @include flex_center_center();
      cursor: pointer;
      height: 100%;
      border-right: 2px solid $color-casher-placholder;
      &.active {
        a {
          color: $white;
        }
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  > .casher_container {
    height: calc(100% - #{$body-header * 2});
  }
}
