.orderSetting {
  width: $sidebar-width;
  height: 100%;
  background-color: #d6d6d6;
  border-radius: 10px;
  .header {
    font: $font-form;
    text-align: center;
    padding: 10px 10px 5px 10px;
    border-bottom: 2px solid $color-product-notActive;
  }

}