.orderSetting {
  width: $sidebar-width;
  height: 100%;
  background-color: #d6d6d6;
  border-radius: 10px;
  .header {
    font: $font-form;
    text-align: center;
    padding: 8px 10px 8px 10px;
    border-bottom: 2px solid $color-product-notActive;
    height: $orderSetting-header;
  }

  > .content {
    padding: 5px 0;
    height: calc(100% - #{$orderSetting-header} - #{$orderSetting-footer * 2});
    overflow: hidden;
    border-bottom: 2px solid $color-product-notActive;
    .sideDish {
      padding: 5px 15px;
      font: $font-product-title;
    }
  }

  .quantity {
    @include flex_center_center();
    > * {
      margin-left: 15px;
    }
    
    > a {
      color: $black;
    }
  }

  > footer {
    height: $orderSetting-footer * 2;
    > .action {
      @include flex_center_center();
      height: $orderSetting-footer;
      font: $font-form;
      > a {
        color: $black;
      }

      > * {
        margin-right: 10px;
      }
    }
  }

  .total_quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $orderSetting-footer;
    border-bottom: 2px solid $color-product-notActive;
    font: $font-form;
    > a {
      color: $black;
    }

  }

}