.productMenu {
  width: calc(100% - #{$sidebar-width});
  background: $color-product-bg;
  border-left: 2px solid $black;
  > .product_category {
    padding: 15px;
    border-bottom: 2px solid $black;
    height: 70px;
    overflow: hidden;
    &:hover {
      cursor: grab;
    }

    ol {
      display: flex;
    }

    li {
      margin-right: 20px;
    }

    a {
      @include a_unstyle();
      white-space: nowrap;
      color: $color-product-notActive;
      font: $font-subtitle;
      &.active {
        color: $white;
      }
    }
  }
}