.bill_list_item > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bill_id {
    h3 {
      font: $font-form;
    }
  }

  .bill_totalPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font: $font-form;
    }

    h4 {
      font: $font-lable;
    }
  }

}