@mixin flex_center_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin absolute_center_center() {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin absolute_translate_center() {
  position: absolute;
  top:50%; 
  left:50%; 
  transform:translate(-50%, -50%); 
}